<html>

<head>
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Monitor zasobów</title>
</head>

<body>

    <div class="full-content">
        <div class="header">
            <h1>Monitor zasobów</h1>
            <p>Dane o twoich komputerach na żywo</p>
        </div>
        {% if data.isEmpty %}
        <h2>Nie ma danych do wyświetlenia</h2>
        {% endif %}
        {% for i in range(data|length) %}
        <button type="button" class="collapsible">Zoabcz dane o: {{data[i].node_name}}</button>
        <div class="content">
            <h2>{{data[i].node_name}}</h2>

            <table>
                <thead>
                    <tr>
                        <th>Dane o komputerze</th>
                        <th>Wartość</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Liczba rdzeni procesora</td>
                        <td>{{data[i].cpu_cores}}</td>
                    </tr>
                    <tr>
                        <td>Liczba rdzeni logicznych procesora</td>
                        <td>{{data[i].cpu_logical_cores}}</td>
                    </tr>
                    <tr>
                        <td>Karta graficzna</td>
                        <td>{{data[i].gpu_name}}</td>
                    </tr>
                    <tr>
                        <td>System operacyjny komputera</td>
                        <td>{{data[i].system}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="column">
                    <div class="padding10">
                        <canvas id={{ i * 100 + 0 }} width="100" height="80"></canvas>
                    </div>
                </div>
                <div class="column">
                    <div class="padding10">
                        <canvas id={{ i * 100 + 3 }} width="100" height="80"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="padding10">
                        <canvas id={{ i * 100 + 1 }} width="100" height="80"></canvas>

                    </div>
                </div>
                <div class="column">
                    <div class="padding10">
                        <canvas id={{ i * 100 + 4 }} width="100" height="80"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="padding10">
                        <canvas id={{ i * 100 + 2 }} width="100" height="80"></canvas>
                    </div>
                </div>
                <div class="column">
                    <div class="padding10">
                        <canvas id={{ i * 100 + 5 }} width="100" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        coll[0].click();

    </script>
    <script>
        window.charts = [];
        fetch('/get_data')
            .then(response => response.json())
            .then(data => loadCharts(data.map((e) => JSON.parse(e))));
        setInterval(function () {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => reloadCharts(data.map((e) => JSON.parse(e))));
        }, 5000);

        function reloadCharts(d) {
            var lastChart = 0;
            for (var i = 0; i < d.length; i++) {
                da = d[i];
                var data = da.cpu_usage_avg;
                var labels = da.time.map(function (x) { return new Date(x * 1000).toLocaleTimeString("pl-PL") });
                updateChart(lastChart++, data, labels);
                var data = da.cpu_temperature;
                updateChart(lastChart++, data, labels);
                var data = da.cpu_usage_per;
                updateChartWithMultipleDatasets(lastChart++, data,labels);
                var data = da.memory_percent;
                updateChart(lastChart++, data, labels);
                if (da.gpu_name != '-') {
                    var data = da.gpu_usage;
                    updateChart(lastChart++, data, labels);
                    var data = da.gpu_memory_percent;
                    updateChart(lastChart++, data, labels);
                }
            }
        }
        function updateChart(index, data, labels) {
            window.charts[index].data.datasets[0].data = data;
            window.charts[index].data.labels = labels;
            window.charts[index].update();
        }

        function updateChartWithMultipleDatasets(index, data, labels){
            for(var i=0;i<window.charts[index].data.datasets.length; i++){
                window.charts[index].data.datasets[i].data = data[i];
                window.charts[index].data.labels = labels;
                window.charts[index].update();
            }
        }
        function loadCharts(d) {
            for (var i = 0; i < d.length; i++) {
                da = d[i];
                var data = da.cpu_usage_avg;
                var labels = da.time.map(function (x) { return new Date(x * 1000).toLocaleTimeString("pl-PL") });
                loadChart(i * 100 + 0, "Zużycie procesora", 'Średnie zużycie procesora (%)', data, labels);
                var data = da.cpu_temperature;
                loadChart(i * 100 + 1, "Temperatura procesora", 'Średnia temperatura procesora', data, labels);
                var data = da.cpu_usage_per;
                loadChartWithManyLines(i * 100 + 3, "Zużycie rdzeni procesora", 'Rdzeń ', data, labels);
                var data = da.memory_percent;
                loadChart(i * 100 + 4, "Zużycie pamięci", 'Średnie zużycie pamięci (%)', data, labels);
                if (da.gpu_name != '-') {
                    var data = da.gpu_usage;
                    loadChart(i * 100 + 2, "Zużycie GPU", 'Średnie zużycie GPU (%)', data, labels);
                    var data = da.gpu_memory_percent;
                    loadChart(i * 100 + 5, "Zużycie pamięci GPU", 'Średnie zużycie pamięci GPU (%)', data, labels);
                }
            }
        }
        function loadChart(id, name, label, data, labels) {
            // document.getElementById(id).clear();
            window.charts.push(new Chart(document.getElementById(id), {
                type: 'line',

                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        label: label,
                        borderColor: "#3e95cd",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: name
                    },
                    hover: {
                        mode: 'index',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                stepValue: 5,
                                max: 100
                            }
                        }],
                        x: {
                            beginAtZero: true
                        }
                    },
                    responsive: true,
                }
            }));
        }

        function loadChartWithManyLines(id, name, label, data, labels) {
            dataset = []
            colors = ["#3e95cd", "#b0438b", "#5fa31f", "#4fcae9", "#d7ea08", "#a478fb", "#f93643", "#f78151", "#4aa0a3", "#704b07", "#21b382", "#45bb09"]
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                dataset[i] = {
                    data: data[i],
                    label: label + (i + 1),
                    borderColor: colors[i],
                    fill: false
                }
            }
            // document.getElementById(id).clear();
            window.charts.push(new Chart(document.getElementById(id), {
                type: 'line',

                data: {
                    labels: labels,
                    datasets: dataset
                },
                options: {
                    title: {
                        display: true,
                        text: name
                    },
                    hover: {
                        mode: 'index',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                steps: 10,
                                stepValue: 5,
                                max: 100
                            }
                        }],
                        x: {
                            beginAtZero: true
                        }
                    },
                    responsive: true,
                }
            }));
        }

    </script>
</body>

</html>