.content {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.paddin10 {
  padding: 30px;
}
.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

.header {
  padding: 10px;
  text-align: center;
  background: #0f9e82;
  color: white;
  font-size: 30px;
}